<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <File name="SearchQueries" fileName="logs/requests.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss} %msg%n"/>
            <Filters>
                <MarkerFilter marker="INPUT_HISTORY"/>
            </Filters>
        </File>

        <File name="InvalidEntries" fileName="logs/invalids.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss} %msg%n"/>
            <Filters>
                <MarkerFilter marker="INVALID_ENTER"/>
            </Filters>
        </File>

        <File name="Errors" fileName="logs/errors.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="Errors" level="error"/>
            <appender-ref ref="SearchQueries" level="info"/>
            <appender-ref ref="InvalidEntries" level="info"/>
        </root>
    </loggers>
</configuration>